### **Trabalhando com Planilhas do Excel**

In [1]:
# Importando a biblioteca 
import pandas as pd
import datetime

In [2]:
# Lendo a base dados
df = pd.read_excel("/content/sample_data/base Reportorio 07022014.xlsx")

In [3]:
# Mostra as 5 primeiras Linhas da base carregada
df.head()

   N_ficha  ...                                        Observaçoes
0       60  ...  Tem segundo processo no ano de 1567 e terceiro...
1     4452  ...                                                NaN
2     6078  ...  Despachado pelo vigário de Moçambique Antônio ...
3     2814  ...                                                NaN
4     5178  ...  Nome gentio: Guinda - Filho de pais gentios - ...

[5 rows x 64 columns]

In [4]:
# Exclusão de colunas irrelevantes para o projeto

df = df.drop(columns=['N_ficha', 'N_dados pessoais', 'Nome', 'Pseudônimo','Batizado_adulto', 'Etnia2', 'N_pai',
                       'Pai', 'N_mãe', 'Mãe', 'N_loc', 'N_reg', 'N_com', 'N_mun', 'N_par',	'N_bai',	
                      'Estado matrimonial',	'N_cônjuge',	'Cônjuge',	'C_loc1',	'C_reg1',	'C_com1',
                      'C_mun1',	'C_par1',	'C_bai1',	'Estado',	'N_patrão',	'Patrão', 'ocupação 1', 
                      'Unnamed: 31', 'M_loc', 'M_reg',	'M_com',	'M_mun',	'M_par',	'M_bai',	'Réu',
                      'apresentado',	'tormento',	'Unnamed: 43', 'N_auto',	'S_localidade',
                    	'S_região',	'S_bairro', 'abjuração',	'pena corporal 1',	'tempo pena corporal 1',	
                      'pena corporal 2',	'tempo pena corporal 2',	'pena 3',	'pena 4',	'Pena_pecuniaria',
                  	  'Maço',	'Fólio',	'Observaçoes', 'Data_sent2'])

In [5]:
# Consultando linhas com valores faltantes
df.isnull().sum()

N_sex            1
Etnia1         772
Data_sent1       2
N_inq1           4
N_inq2        1841
delito 1         4
delito 2      2823
delito 3      3325
dtype: int64

In [6]:
# Apaga as linhas com valores nulos com base apenas em 1 coluna (Coluna N_inq1)
df.dropna(subset=['N_inq1'], inplace=True)

In [7]:
# Apaga as linhas com valores nulos com base apenas em 1 coluna (Coluna N_sex)
df.dropna(subset=['N_sex'], inplace=True)

In [8]:
# Apaga as linhas com valores nulos com base apenas em 1 coluna (Coluna Data_sent1)
df.dropna(subset=['Data_sent1'], inplace=True)

In [9]:
# Fazendo novamente a consulta de linhas com valores faltantes
df.isnull().sum()

N_sex            0
Etnia1         769
Data_sent1       0
N_inq1           0
N_inq2        1836
delito 1         0
delito 2      2818
delito 3      3320
dtype: int64

In [10]:
# Mostrando as primeiras linhas da base
df.head()

  N_sex                 Etnia1  ...      delito 2 delito 3
0  masc          Cristão-velho  ...         mouro      NaN
1  masc          Cristão-velho  ...         mouro      NaN
2   fem                    NaN  ...         mouro      NaN
3  masc                    NaN  ...  gentilidades      NaN
4  masc  Filho de pais gentios  ...  gentilidades      NaN

[5 rows x 8 columns]

In [11]:
#Gerando o arquivo já transformado
df.to_excel("/content/sample_data/Reportorio_transformado.xlsx")